
h1, h2, h3{
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}/* Правило для сброса настроек заголовков*/
.link{
  text-decoration: none;
  color: #2f80ed;
}/* Правило для сброса настроек всех ссылок*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:#f2f2f2; 
  /* выше установили ограничения для секции */
}
.logo{
  position: absolute;
  z-index: 3;
  width: 183px;
  height: 32px;
}
.header__logo_place_header{
  margin: 30px 0 0 64px;
}
.header__title{
  display: flex;
  width: 730px;
  align-items: center;
  margin:auto 0 auto 30px;
  z-index: 3;
  line-height:96px;
  font-size: 102px;
  font-weight:bold;
}
.header__subtitle{
  position: absolute;
  z-index: 3;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height:25px;
  font-size: 18px;
  font-weight:normal;  
}
.header__main-illusration{
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.header__square-pic{
  position:absolute;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  right: 0px;
  top:64px;
}
/* Начало стилей для второго блока */
.description{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
.two-columns{
  display: flex;
  justify-content:space-between;
  width: 80%;
}
.two-columns__brief{
  display: flex;
  width: 175px;
  line-height:1.2;
  font-size: 18px;
  font-weight:normal;
  color: #2f80ed;
}
.two-columns__main-text{
  display: flex;
  width: 80%;
  min-width: : 784px;
  flex-direction: column;
}
.two-columns__paragraph{
  line-height:34px;
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 30px;
}
/*В задании не нашёл настройку высоты макимальной и минимальной. Сделал отступы. Если будет ошибка, спросить как подбирать высоту.*/
.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}
.span-accent{
  line-height:34px;
  font-size: 24px;
  font-weight:bold;
}
/* Начало стилей для третьего блока */
.digits{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.section-title{
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
  line-height:1.15;
  font-size: 60px;
  font-weight:bold;
}
.section-subtitle{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height:34px;
  font-size: 24px;
  font-weight:bold;
}
.table{
  width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cell{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}
.cell:nth-child(5){
    margin-bottom: 0;
}
.heading{
  margin-bottom: 20px;
  line-height:1.15;
  font-size: 24px;
  font-weight:bold;
}
.text{
  margin-bottom: 20px;
  line-height:1.2;
  font-size: 18px;
  font-weight:normal;
}
.text:last-of-type{
  margin-bottom: 0;
}
.feynman{
  background-color:#f2f2f2; 
  position: relative;
  display: flex;
  flex-direction: column;
  height: 890px;
  margin-top: 100px;
}
.feynman__title{
  display: flex;
  width: 648px;
  top:100px;
  margin: 100px auto 70px;
  z-index: 2;
  line-height:1.15;
  font-size: 120px;
  font-weight:bold;
}
.feynman__subtitle{
  display: flex;
  margin: 0 auto;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
}
.feynman__link{
  display: flex;
  position: absolute;
  z-index: 3;
  right: 0;
  top:50%;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
}
.feynman__images{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
}
.kaufman{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  z-index: -2;
  overflow: hidden;
}
.section-title__dark{
  margin-top: 90px;
  color: #fff;
}
.section-subtitle__dark{
  color: #fff;
  margin: 0 auto;
}
.table__dark{
  color: #fff;
  margin-bottom: 90px;
}
.cell__dark{
  width: 200px;
  margin-top: 80px;
}
.text__dark{
margin-bottom: 0;
}
.kaufman__tringle{
  position: absolute;
  height: 877px;
  width: 877px;
  top:0;
  right:-210px;
  z-index: -1;
}
/*последний блок*/
.footer{
  display: flex;
  min-height: 350px;
  background-color: #000;
  color: #fff;
  padding-top: 60px;
}
.footer__columns{
  display: flex;
  width: 90%;
  margin: 0 auto 40px;
  justify-content: space-between;
}
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;

}
.logo_place_footer{
  display: flex;
  top: 0;
  left: 0;
  width: 183px;
  height: 35px;
}
.footer__author{
  position: relative;
  bottom: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight:normal;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight:bold;
}
.footer__column-links{
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight:normal;
  margin:20px 0 16px;
}
.footer__column-link{
  text-decoration: none;
  color: #fff;
}
.social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}